@model ComputerService.Models.Question

@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <element onclick="myScript">
        <meta name="viewport" content="width=device-width" />
        <title>Service</title>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-controller="Home" asp-action="Privacy">Back to List</a>
        </div>
</head>
<body>



    <h4>Question</h4>
    <hr />

    <div class="quest">
        <table>
            <td>
                @{ int total = 0; }
                @foreach (string Q in Model.Que)
                {


                    Write(Q);

                    <p></p>
                    total++;

                }
            </td>

            <TD>

                @using (Html.BeginForm())
                {
                    for (int i = 0; i < Model.Que.Count; i++)
                    {
                        <div>
                            Yes @Html.RadioButtonFor(Model => Model.SelectedAnswer[i], "2")
                            No @Html.RadioButtonFor(Model => Model.SelectedAnswer[i], "1")
                        </div>
                        <p></p>
                    }
                    <input type="submit" value="Save">
                }
                <table id="table1" runat="server">
                </table>

            </TD>
        </table>
    </div>

</body>
</html>

