

@model ComputerService.Models.Question


@{
    ViewData["Title"] = "Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/js/Service.js" rel="stylesheet" />
    <script defer src="~/js/Service.js"></script>
    <element onclick="myScript">
        <meta name="viewport" content="width=device-width" />
        <title>Service</title>
        <div>
            <a asp-controller="Home" asp-action="Privacy">Back to List</a>
        </div>
</head>
<body>



    <h4>Question</h4>
    <hr />


                @using (Html.BeginForm())
                {

                    for (int i = 0; i < Model.Que.Count; i++)
                    {
                        <div class="quest">
                            <div class="question">
                                @(Model.Que[i])
                            </div>
                            Yes @Html.RadioButtonFor(M => Model.SelectedAnswer[i], "2")
                            No @Html.RadioButtonFor(Model => Model.SelectedAnswer[i], "1")
     
                        </div>
                        <p></p>
                    }

                    <div class="">
                        <input class="btn btn-primary align-content-md-center" value="Submit" type="submit"  id="submit" onclick="eatFood()"  />
                    </div>

                }
        


</body>
</html>

