@model ComputerService.Models.Logic
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>ResultView</title>
</head>
<body>
    <div>
        <a asp-controller="Service" asp-action="GetQuestion">Back to Service</a>
    </div>

        <div class="font-italic" >
            @foreach (var q in Model.Result)
            {
            <p>
                @{Write(q);}
            </p>
            }
            

    </div>


</body>
</html>
