
@{

    ViewData["Title"] = "Home Page";
    string[] TableHeadres = new string[] {

    "Name",


    "Brand",


    "Type",


    "Price",


    "Image"};
}
@model ComputerService.Controllers.HomeController
<!---<div class="table">
    <table class="table">
        <thead>
            <tr>
                @{
                    foreach (var head in TableHeadres)
                    {
                        <th>
                            @head
                        </th>
                    }

                }

            </tr>


        </thead>
        <tbody>-->

<div id="myBtnContainer">
    <button class="btn-filtr active" onclick="filterSelection('all')">
        Show all</button>
        <button class="btn-filtr" onclick="filterSelection('Procesor')" ;> Procesor</button>
        <button class="btn-filtr" onclick="filterSelection('monitor')" ;> Monitor</button>
        <button class="btn-filtr" onclick="filterSelection('Card')" ;"> Cards</button>
        <button class="btn-filtr" onclick="filterSelection('Headphones')" ;"> Headophones</button>
        <p></p>

</div>
<div class="s-container">


    @{
        if (Model != null)
        {
            foreach (var Data in Model.items)
            {
                <div class="filterDiv @Data.Type">
                    <div class="ss-container">
                        <p></p>
                        <p></p>
                        <div class="picture"><img src="/@Data.Image" width=200 height=200 alt="Alternate Text" /></div>
                        <div><h2>@Data.Name</h2></div>
                        <hr style="color: black; height: 10px" ;>

                        <div class="line2"></div>
                        <div class="Price">Price: $@Convert.ToInt32(Data.Price)</div>
                        @if (Convert.ToInt32(Data.Price) > 200)
                        {
                            <div> transport for free </div>
                        }
                        else
                        {
                            <div> free transort for over $200 </div>
                        }
                        <hr style="color: black; height: 3px;">
                        <div><button type="submit" class="button">Add to cart</button></div>
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>

                    </div>
                </div>


            }
        }
    }
</div>

<!--
            </tbody>


            </table>

            </div>
    -->
